@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Prociono;
    background-color: black;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.select-language {
    background-color: transparent;
    display: inline-flex;
    padding: 17px 24px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #D2D2D2;
    height: 1rem;
}

select, option {
    font-family: Prociono;
    height: 2rem;
    font-size: 1.5rem;
    background-color: transparent;
    outline: none;
    background-color: #282828;
}

.select-language img {
    width: 25px;
    height: 25px;
}

.section-two {
  height: 120vh;
}

  h1 {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    border-right: 0.15em solid #18bdec;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
    text-align: center;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  #skills {
    width: 75vw;
    height: 50vh;
  }

  a, .social {
    cursor: pointer;
  }


.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

#my-project {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

#live-repo::after, #live-web::after {
  content: ' ↗'; 
}

#live-repo:hover, #live-web:hover {
  transform: scale(1.05);
}

input[type="radio"]:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.social-box img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
}

option, select {
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  html, body {
    overflow-x: hidden;
  }
  
  nav {
    font-size: 1rem !important;
  }

  .select-language {
    background-color: transparent;
    display: inline-flex;
    padding: 10px 12px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #D2D2D2;
    height: 0.6rem;
    position: relative;
    left: 0px;
    top: 7px;
}

.select-language img {
  width: 15px;
  height: 15px;
}

select, option {
  font-family: Prociono;
  height: 2rem;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  background-color: #282828;
}

main {
  margin-bottom: 1rem;
}

h1 {
  position: absolute;
  top: 2rem;
  right: -5rem;
  font-size: 2rem !important;
}

#web-developer {
  position: absolute;
  top: 36rem;
  left: 7rem;
  width: 100%;
  font-size: 1.5rem !important;
}

#inner-div {
  display: flex;
  flex-direction: column;
}

#text-title {
  font-size: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#presentation-div {
  text-align: center;
  font-size: 1.2rem;
}

#p-skills {
  font-size: 2rem;
  margin-bottom: 0.1rem;
}

#skills img{
  width: 5rem;
  height: 5rem;
}

#skills {
  width: 90vw;
  margin-bottom: 0;
}
#skills div{
  width: 100%;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
}

#p-projects {
  font-size: 2rem;
}

#text-and-links {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 0;
}

#my-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  height: 90vh;
  margin: auto;

}

#my-title {
  margin-top: 1rem;
  font-size: 2rem;
}

#text-contact-h3 {
  font-size: 2rem;
}

#social-icons {
  width: 90vw;
}

#social-icons div a img {
  width: 3rem;
  height: 3rem;
}

#social-icons div a {
  font-size: 1rem;
}
}

@media (min-width: 375px) and (max-width: 450px) {
  html, body {
    overflow-x: hidden;
  }
  
  nav {
    font-size: 1rem !important;
  }

  .select-language {
    background-color: transparent;
    display: inline-flex;
    padding: 10px 12px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid #D2D2D2;
    height: 0.6rem;
    position: relative;
    left: 0px;
    top: 7px;
}

.select-language img {
  width: 15px;
  height: 15px;
}

select, option {
  font-family: Prociono;
  height: 2rem;
  font-size: 1rem;
  background-color: transparent;
  outline: none;
  background-color: #282828;
}

main {
  margin-bottom: 1rem;
}

h1 {
  position: absolute;
  top: 2rem;
  right: -5rem;
  font-size: 2rem !important;
}

#web-developer {
  position: absolute;
  top: 36rem;
  left: 7rem;
  width: 100%;
  font-size: 1.5rem !important;
}

#inner-div {
  display: flex;
  flex-direction: column;
}

#text-title {
  font-size: 2rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#presentation-div {
  text-align: center;
  font-size: 1.2rem;
}

#p-skills {
  font-size: 2rem;
  margin-bottom: 0.1rem;
}

#skills img{
  width: 5rem;
  height: 5rem;
}

#skills {
  width: 90vw;
  margin-bottom: 0;
}
#skills div{
  width: 100%;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.8rem;
}

#p-projects {
  font-size: 2rem;
}

#text-and-links {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 0;
}

#my-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90vw;
  height: 90vh;
  margin: auto;

}

#my-title {
  margin-top: 1rem;
  font-size: 2rem;
}

#text-contact-h3 {
  font-size: 2rem;
}

#social-icons {
  width: 90vw;
}

#social-icons div a img {
  width: 3rem;
  height: 3rem;
}

#social-icons div a {
  font-size: 1rem;
}
}

