@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Prociono;
    background-color: black;
}


  h1 {
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #18bdec;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
    text-align: center;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

#live-repo::after, #live-web::after {
  content: ' ↗'; 
}


input[type="radio"]:hover {
  cursor: pointer;
  transform: scale(1.5);
}



@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
